{% extends "base.html" %}

{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Главная</a></li>
          <li class="breadcrumb-item"><a href="/view_db_select">Выбрать базу данных</a></li>
          <li class="breadcrumb-item active" aria-current="page">SANDI</li>
      </ol>
    </nav>
   <div>
       <div class="row">
           {% for post in posts_even %}
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Специальный заголовок</h5>
                  {% for line in post %}
                    <p class="card-text">{{ line }}</p>
                  {% endfor %}
              </div>
            </div>
          </div>
           {% endfor %}
           {% for post in posts_odd %}
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Специальный заголовок</h5>
                  {% for line in post %}
                <p class="card-text">{{ line }}</p>
                  {% endfor %}
              </div>
            </div>
          </div>
           {% endfor %}
        </div>
   </div>
{% endblock %}