{% extends "base.html" %}

{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index">Главная</a></li>
          <li class="breadcrumb-item"><a href="/update_db">Обновить базу данных</a></li>
        <li class="breadcrumb-item active" aria-current="page">Выбрать действие</li>
      </ol>
    </nav>
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    <div>
        <form action="{{ url_for('update_db_all', site=site)}}" method="post">
            <button class="btn btn-primary btn-lg btn-block">Обновить все</button>
        </form>
        <hr>
        <form action="{{ url_for('update_db_brand_select', site=site)}}" method="post">
            <button class="btn btn-primary btn-lg btn-block">Обновить по брендам</button>
        </form>
    </div>
{% endblock %}