{% extends "base.html" %}

{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Скачать EXCEL-файл базы данных</li>
      </ol>
    </nav>
    <div>
        <form action="/sandi_db" method="post">
            <button class="btn btn-primary btn-lg btn-block">SANDI_B2B</button>
        </form>
        <hr>
        <form action="/antey_db" method="post">
            <button class="btn btn-primary btn-lg btn-block">ANTEY_B2B</button>
        </form>
        <hr>
        <form action="/agromat_db" method="post">
            <button class="btn btn-primary btn-lg btn-block">ARGOMAT_B2B</button>
        </form>
    </div>
{% endblock %}